body {
    background-color: #000;
}
.navbar {
    background-color: #111;
    height: 2.5rem;
}
.col-4 img {
    filter: grayscale(100%) invert(100%); 
    border: 1px solid #000;
    border-radius: 50%;
    width: 20vh;
    height: 20vh;
}
.col-4 {
    text-align: center;
    margin: 0 auto;
}
.col-4 .bar {
    width: 35vh;
    margin: 0 auto;
}
